<launch>
<include file="$(find barista_bot)/launchers/camera.launch" />
<param name="/user_identification_server/faceengine" value="ContinuousLKTrackingEngine" />
<param name="/user_identification_server/facefinder" value="FaceFinder1" />
<param name="/user_identification_server/faceidentifier" value="LBPHIdentifier" />
<param name="/user_identification_server/gui" value="true" />
<param name="/user_identification_server/videosource" value="RosVideoSource2" />
<include file="$(find user_identification)/launchers/main.launch"/>

<include file="$(find movement)/launch/main.launch" />
</launch>
