<launch>
<node pkg="openni_camera" type="openni_node" name="openni_node" output="screen" />
<param name="/user_identification_server/faceengine" value="ContinuousEngine" />
<param name="/user_identification_server/facefinder" value="FaceFinder1" />
<param name="/user_identification_server/faceidentifier" value="FaceIdentifier" />
<param name="/user_identification_server/gui" value="true" />
<param name="/user_identification_server/videosource" value="RosVideoSource2" />
<include file="$(find user_identification)/launchers/main.launch"/>

<include file="$(find movement)/launch/main.launch" />
</launch>
